img{
  height: 5vw;
}

img+h1{
  display: inline;
}

.quiz{
  border: 1px solid black;
}

.continue{
  height: 3vw;
}

/* @media all and (display-mode: browser) {
  #btnAdd{
    display: none;
  }
} */

/* @media only screen and (min-width: 700px){
  #btnAdd{
    display: none;
  }
} */
